

# DataFrames


- DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.

- It is a two-dimensional object similar to a spreadsheet or an SQL table. This is the most commonly used pandas object

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [3]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

The DataFrame has an index attribute that gives access to the
index labels:

In [ ]:
df.index

Additionally, the DataFrame has a columns attribute, which is an Index object holding
the column labels:

In [ ]:
df.columns

**Creating a new column:**

In [ ]:
df['new'] = df['W'] + df['Y']

In [ ]:
df['Mul'] = df['W']*df['Z']

In [ ]:
df

** Removing Columns**

In [ ]:
df.drop('new',axis=1)

In [ ]:
df.drop('Mul',axis = 1)

In [ ]:
# Not inplace unless specified!
df

In [ ]:
df.drop('new',axis=1,inplace=True)

In [ ]:
df

Can also drop rows this way:

In [ ]:
df.drop('Mul',axis = 1,inplace=True)

In [ ]:
df

In [ ]:
df.drop('E',axis=0)

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011','14/2/2011','15/2/2011'], 
                   'Product':['Umbrella', 'Matress', 'Badminton', 'Shuttle','Umbrella','Shuttle'], 
                   'Last Price':[1200, 1500, 1600, 352,3256,2547], 
                   'Updated Price':[1250, 1450, 1550, 400,2650,4587], 
                   'Discount':[0.5, 10, 0.2, 0.7,0.8,0.4]})

In [ ]:
df

In [ ]:
df[df['Last Price']>2000]

In [ ]:
df[df['Last Price']>2000]['Product']

In [ ]:
df[df['Updated Price']>2000][['Product','Discount']]

**`For two conditions you can use | and & with parenthesis`**:

In [ ]:
df[ (df['Last Price']>1500) & (df['Product']=='Umbrella')]

In [ ]:
df[ (df['Updated Price'] >1200) | (df['Discount']<0.5)  ]

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
newind = 'CA NY WY OR CO'.split()

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

In [47]:
dd

    0  1  2  3
0   2  3  6  9
1  23  6  9  6

In [ ]:
pd.read_csv()