In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tennis.csv')

In [3]:
x = df.iloc[:,:4]
x

     outlook  temp humidity  windy
0      sunny   hot     high  False
1      sunny   hot     high   True
2   overcast   hot     high  False
3      rainy  mild     high  False
4      rainy  cool   normal  False
5      rainy  cool   normal   True
6   overcast  cool   normal   True
7      sunny  mild     high  False
8      sunny  cool   normal  False
9      rainy  mild   normal  False
10     sunny  mild   normal   True
11  overcast  mild     high   True
12  overcast   hot   normal  False
13     rainy  mild     high   True

In [4]:
pd.get_dummies(x)

,windy,outlook_overcast,outlook_rainy,outlook_sunny,temp_cool,temp_hot,temp_mild,humidity_high,humidity_normal
0,False,0,0,1,0,1,0,1,0
1,True,0,0,1,0,1,0,1,0
2,False,1,0,0,0,1,0,1,0
3,False,0,1,0,0,0,1,1,0
4,False,0,1,0,1,0,0,0,1
5,True,0,1,0,1,0,0,0,1
6,True,1,0,0,1,0,0,0,1
7,False,0,0,1,0,0,1,1,0
8,False,0,0,1,1,0,0,0,1
9,False,0,1,0,0,0,1,0,1
10,True,0,0,1,0,0,1,0,1
11,True,1,0,0,0,0,1,1,0
12,False,1,0,0,0,1,0,0,1
13,True,0,1,0,0,0,1,1,0

In [6]:
pd.get_dummies(x,drop_first=True)

    windy  outlook_rainy  outlook_sunny  temp_hot  temp_mild  humidity_normal
0   False              0              1         1          0                0
1    True              0              1         1          0                0
2   False              0              0         1          0                0
3   False              1              0         0          1                0
4   False              1              0         0          0                1
5    True              1              0         0          0                1
6    True              0              0         0          0                1
7   False              0              1         0          1                0
8   False              0              1         0          0                1
9   False              1              0         0          1                1
10   True              0              1         0          1                1
11   True              0              0         0          1                0
12  False              0              0         1          0                1
13   True              1              0         0          1                0

In [7]:
pd.get_dummies(df,columns=['outlook','play'],drop_first=True)

    temp humidity  windy  outlook_rainy  outlook_sunny  play_yes
0    hot     high  False              0              1         0
1    hot     high   True              0              1         0
2    hot     high  False              0              0         1
3   mild     high  False              1              0         1
4   cool   normal  False              1              0         1
5   cool   normal   True              1              0         0
6   cool   normal   True              0              0         1
7   mild     high  False              0              1         0
8   cool   normal  False              0              1         1
9   mild   normal  False              1              0         1
10  mild   normal   True              0              1         1
11  mild     high   True              0              0         1
12   hot   normal  False              0              0         1
13  mild     high   True              1              0         0

In [10]:
df['outlook'].map({'sunny':1,'overcast':2,'rainy':3})

0     1
1     1
2     2
3     3
4     3
5     3
6     2
7     1
8     1
9     3
10    1
11    2
12    2
13    3
Name: outlook, dtype: int64